<!DOCTYPE html>
<html>
    <head>
        <title>Codeshare</title>
        <meta charset="utf-8">
        #{stylesheet media:'screen', src:'style.css' /}
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">

		#{script src:'jquery-1.5.2.min.js', charset:'utf-8' /}
		#{script src:'jquery.tmpl.js', charset:'utf-8' /}
		#{script src:'knockout-1.2.1.js', charset:'utf-8' /}

	#{if play.mode = 'DEV'}
		#{script src:'backend-services-dev.js', charset:'utf-8' /}
	#{/if}
	#{else}
		#{script src:'backend-services.js', charset:'utf-8' /}
	#{/else}

*{
        <script src="@{'/public/javascripts/json2.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/underscore.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/backbone.js'}" type="text/javascript" charset="${_response_encoding}"></script>
}*
        #{get 'moreScripts' /}

		<script type="text/javascript">
			var backendServices = new BackendServices();
		</script>
    </head>
    <body>
		<div id="container">
			<div id="header">
				<ul>
					#{if currentUser != null}
						<li class="left">
							<h1><a href='/interviewer'>CodeShare - Interviewer</a></h1>
						<li class="right signout">
							<div class="divider">|</div>
							<a id="logout" href='/interviewer/logout'> Sign Out </a>
							<span style='padding-left:6px;'> (${currentUser.username}) </span>
						#{if currentSession != null}
							<li class="right">
								&nbsp;| Session ${currentSession.id}
								(<a href='/interviewer/session/${currentSession.id}/close'> close </a>)
						#{/if}
						<li class="right">
							<div class="divider">|</div>
							#{if currentUser.username == 'admin'}
								<a href='/user'> Users </a>
							#{/if}
							#{else}
								<a href='/user'> Profile </a>
							#{/else}
					#{/if}
					#{else}
						<li class="left">
							<h1><a href='/candidate'> CodeShare </a></h1>
					#{/else}
				</ul>
			</div>

			<div id="content">
				#{doLayout /}
			</div>
		</div>
    </body>
</html>
