#{extends 'layout_main.html' /}

<div id="sessions" data-bind='template: "sessionsTemplate"'> </div>
<script type="text/html" id="sessionsTemplate">
	<div id='open'>
		Open sessions (<a id='create' href='#' data-bind="click: function() { viewModel.createSession() }">Create New</a>)
	</div>
	<table border='0' cellspacing='0' cellpadding='4'>
        {{each(i, s) openSessions()}}
            <tr>
                <td>[<span data-bind='text: id' />]</td>
				<td><span data-bind='text: formatDate(createdOn)' /></td>
				<td>
					<a href="#" data-bind="click: function() { viewModel.sessionDetails(s) }">Details</a>
					&nbsp;|
					<a href="#" data-bind="click: function() { viewModel.resumeSession(s) }">Resume</a>
					&nbsp;|
					<a href="#" data-bind="click: function() { viewModel.closeSession(s) }">Close</a>
					&nbsp;|
					<a href="#" data-bind="click: function() { viewModel.deleteSession(s) }">Delete</a>
				</td>
            </tr>
        {{/each}}
    </table>

	<div id='closed'>Closed sessions</div>
	<table border='0' cellspacing='0' cellpadding='4'>
		{{each(i, s) closedSessions()}}
			<tr>
				<td>[<span data-bind='text: id' />]</td>
				<td><span data-bind='text: formatDate(createdOn)' /></td>
				<td>
					<a href="#" data-bind="click: function() { viewModel.sessionDetails(s) }">Details</a>
					&nbsp;|
					<a href="#" data-bind="click: function() { viewModel.reopenSession(s) }">Reopen</a>
					&nbsp;|
					<a href="#" data-bind="click: function() { viewModel.deleteSession(s) }">Delete</a>
				</td>
			</tr>
		{{/each}}
	</table>
</script>

<script type="text/javascript">
var viewModel = {
	openSessions: new ko.observableArray([
		{ id:5692, status:'open', createdOn:new Date(2011,10,01) },
		{ id:4456, status:'open', createdOn:new Date(2011,10,03) }
    ]),

	closedSessions: new ko.observableArray([
		{ id:1408, status:'closed', createdOn:new Date(2011,09,12,4,50,32) },
    ]),

	formatDate: function(dt) {
		return (dt.getYear()+1900)+'/'+(dt.getMonth()+1)+'/'+dt.getDate()+' '+dt.toLocaleTimeString();
	},

	createSession: function() {
	},

	resumeSession: function(s) {
		alert(s.id);
	},

	sessionDetails: function(s) {
	},

	reopenSession: function(s) {
	},

	closeSession: function(s) {
	},

	deleteSession: function(s) {
	}
};

ko.applyBindings(viewModel);
</script>
